@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins";
    background: #4d4d4d;
    font-size: 17px;
  }

.logo {
  background-color: black;
  padding: 30px;
  color: white;
  display: flex;
}

.sosmed {
  margin-left: 1000px;
  color: white;
}

.sosmed a {
  /* border: 2px solid red; */
  padding: 4px;
  color: white;
  text-decoration: none;
}


.jumbotron {
  width: 100%;
}

.jumbotron img {
  /* z-index: -3; */
  position: absolute;
  width: 100%;
  /* margin-top:10px; */
}

.jumbotron p {
  /* z-index: 5; */
  color: white;
  /* width: 700px; */
  text-align: left;
  font-size: 15px;
  padding-top: 280px;
  margin-right: 1000px;
  color: white;
  width: 48%;
  padding-left: 25px;
  text-align: left;
  position: relative;
  /* border: 2px solid red; */
}


.card {
  display: flex;
  justify-items: center;
  gap: 20px;
  padding: 10px

}
.card1 {
  margin-top: 280px;
  padding: 30px 80px;
  background: rgba(28, 28, 28, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(28, 28, 28, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: wheat;
  /* border: 2px solid red;     */
}

.card img {
  width: 100%;
}

.card p {
  margin-top: 80px;
  text-align: center;
}

footer{
    margin-top: 20px;
    background-color: black;
    padding: 30px;
    color: white;
}

